//Colores primarios
$verde-lima: #1db489;
$rojo-claro: #dc414c;
$facebook: #1877f2;
$twitter: #1da1f2;
$instagram-naranja: #fdc468;
$instagram-morado: #df4996;
$youtube: #c4032a;

// Tema claro
$azul-claro: #f8f9fe;
$azul: #3aa5ca;
$gris-azulado-claro: #f0f3fa;
$gris-azulado-oscuro: #e1e3f0;
$gris: #57586a;
$negro: #1d2029;
$fondo: #ffffff;

// Colores tema oscuro
$pale-blue: #1e202a;
$light-grayish-blue: #1f212e;
$dark-grayish-blue: #8b97c6;
$dark-blue: #fff;

// Toggle widget
$toggle-blue: hsl(210, 78%, 56%);
$toggle-green: hsl(146, 68%, 55%);
