@use './colors';

.card-overview {
  background-color: colors.$light-grayish-blue;
  border-radius: 8px;
  padding: 1.5em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 1em;
  align-content: center;

  &__text-views {
    font-weight: 700;
    font-size: 0.7em;

    color: colors.$dark-grayish-blue;
  }

  &__icon-media {
    text-align: right;
  }

  &__number-views {
    font-weight: 700;
    font-size: 1.6em;
    line-height: 0.9em;
    color: colors.$dark-blue;
  }

  &__percentage-views {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 0.8em;
    font-weight: 500;

    &_green {
      color: colors.$lime-green;
    }

    &_red {
      color: colors.$bright-red;
    }

    span {
      display: flex;
      align-items: center;

      img {
        margin-right: 5px;
      }
    }
  }
}
