@use './config';

//Colores primarios
$lime-green: #1db489;
$bright-red: #dc414c;
$facebook-color: #1877f2;
$twitter-color: #1da1f2;
$instagram-color-orange: #fdc468;
$instagram-color-purple: #df4996;
$youtube-color: #c4032a;

// Colores tema oscuro
$pale-blue: #1e202a;
$light-grayish-blue: #1f212e;
$dark-grayish-blue: #8b97c6;
// $dark-grayish-blue: #252a41
$dark-blue: #fff;

// Toggle widget
$toggle-blue: hsl(210, 78%, 56%);
$toggle-green: hsl(146, 68%, 55%);
