:root {
  /* Colores primarios */
  --lime-green: #1db489;
  --bright-red: #dc414c;
  --facebook-color: #1877f2;
  --twitter-color: #1da1f2;
  --instagram-color-orange: #fdc468;
  --instagram-color-purple: #df4996;
  --youtube-color: #c4032a;

  /* Dark theme toggle */
  --toggle-dark-gradient-1: #378fe6;
  --toggle-dark-gradient-2: #3eda82;

  /* Light theme toggle */
  --toggle-light: #aeb3cb;

  /* Dark theme */

  --very-dark-blue: #1e202a;
  --very-dark-blue-bg: #1f212e;
  --dark-unsaturated-blue: #252a41;
  --blue-unsaturated: #8b97c6;
  --white: #ffffff;
}
