@import "./globals.css";

.card {
  overflow: hidden;
  background-color: var(--white);
  border-radius: 8px;
  text-align: center;
  position: relative;
}

.card::before {
  content: "";
  height: 4px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: block;
}

.card__header {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0px;
}

.card__icon-media {
  margin-right: 6px;
}

.card__title {
  color: var(--very-dark-blue);
  font-size: 0.9em;
}

.card__main {
  padding: 10px 0px;
}

.card__number-total {
  color: var(--very-dark-blue);
  font-size: 2.5em;
  font-weight: 700;
}

.card__description {
  color: var(--very-dark-blue);
  font-size: 0.8em;
  font-weight: 500;
  display: block;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.card__footer {
  padding: 10px 0px 10px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__icon-direction {
  margin-right: 6px;
}

.card__number-today {
  font-size: 0.7em;
}
.card__number-today__green {
  color: var(--lime-green);
}
.card__number-today__red {
  color: var(--bright-red);
}
